<div class="layout">
    <div class="layoutElementHorizontal reverseColResponsive main">
        <div class="layoutElementVertical">
            <a class="buttonLink" href="qXsLp">Clue 1</a>
            <a class="buttonLink" href="mNvRw">Clue 2</a>
            <a class="buttonLink" href="hGtKu">Clue 3</a>
            <a class="buttonLink" href="dFjHq">Clue 4</a>
            <a class="buttonLink" href="rBzYx">Clue 5</a>
            <a class="buttonLink" href="uPwQv">Clue 6</a>
            <a class="buttonLink" href="aZcXb">Clue 7</a>
            <a class="buttonLink" href="kLmNo">Clue 8</a>
            <a class="buttonLink" href="eRtYi">Clue 9</a>
        </div>
    </div>
</div>