<div class="layout">
    <div class="layoutElementHorizontal reverseColResponsive main">
        <div class="layoutElementVertical">
            <h2>Clue Eight</h2>
            <app-question-form [questionNum]="8" (fullyAnswered)="handleAnswersGiven($event)">
                With your new crystals chasing away any blight,<br><br>
                It is time for the next stop of the night,<br><br>
                A friend of the past is sitting here tight,<br><br>
                What is this place decorated with strings of light?
            </app-question-form>
            <div class="layoutElementVertical" style="margin-top: 10px;" *ngIf="passed">
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d630.602725664534!2d-87.83412021976376!3d41.25076493783196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1702289371363!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p>Next Clue at 10:00am</p>
                <a class="buttonLink" href="https://maps.app.goo.gl/a9WxajD4Mi3HLzpc9">MAPS</a>
            </div>
        </div>
    </div>
</div>