<div class="layout">
    <div class="layoutElementHorizontal reverseColResponsive main">
        <div class="layoutElementVertical">
            <h2>Clue Six</h2>
            <hr />
            <app-question-form [questionNum]="6" (fullyAnswered)="handleAnswersGiven($event)">
                With a belly full, let's return to the windy city,<br><br>
                We can continue working on the nitty-gritty,<br><br>
                Sold in quantities itty-bitty,<br><br>
                Let's top you off on some stuff to help you stay pretty.
            </app-question-form>
            <div class="layoutElementVertical" style="margin-top: 10px;" *ngIf="passed">
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1337.4882592982408!2d-87.84995095373577!3d41.18777321697457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880de0a8cf03aa7f%3A0xffb55a53f5491852!2sUlta%20Beauty!5e0!3m2!1sen!2sus!4v1702289060665!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p>Next Clue at 10:00am</p>
                <a class="buttonLink" href="https://maps.app.goo.gl/sp9yotDRwHmNG75N9" target="_blank" rel="noopener noreferrer">MAPS</a>
            </div>
        </div>
    </div>
</div>
