<div class="layout">
    <div class="layoutElementHorizontal reverseColResponsive main">
        <div class="layoutElementVertical">
            <h2>Clue Seven</h2>
            <hr />
            <app-question-form [questionNum]="7" (fullyAnswered)="handleAnswersGiven($event)">
                While I may not be a big fan of these,<br><br>
                I appreciate how they make you feel at ease,<br><br>
                They are thought of by some to ward of disease,<br><br>
                What are these things, preferred rocks of fairies?
            </app-question-form>
            <div class="layoutElementVertical" style="margin-top: 10px;" *ngIf="passed">
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d187.69989132557225!2d-87.84746104521584!3d41.17384271789728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880ddd2a282ce9bf%3A0x2c29ccc613789cc7!2sThe%20Ripple%20Effect%20Healing%20Arts!5e0!3m2!1sen!2sus!4v1702289281644!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p>Next Clue at 4:10pm</p>
                <p>Budget: $50</p>
                <a class="buttonLink" href="https://maps.app.goo.gl/nvQVErmysd6w8sbU9" target="_blank" rel="noopener noreferrer">MAPS</a>
            </div>
        </div>
    </div>
</div>
