<div class="layout">
    <div class="layoutElementHorizontal reverseColResponsive main">
        <div class="layoutElementVertical">
            <h2>Clue Nine</h2>
            <app-question-form [questionNum]="9" (fullyAnswered)="handleAnswersGiven($event)">
                With pictures on the way that will shimmer,<br><br>
                I hope today has made you feel like a winner,<br><br>
                With a name of two items familiar to a minecraft beginner,<br><br>
                Where is our final stop for dinner?
            </app-question-form>
            <div class="layoutElementVertical" style="margin-top: 10px;" *ngIf="passed">
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3182.3198803147056!2d-87.88560116823507!3d41.16267282218938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880dddc86bd93537%3A0xb7d5738cd791d0ef!2sBrickstone%20Brewery!5e0!3m2!1sen!2sus!4v1702289439261!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p>Next Clue at 10:00am</p>
                <a class="buttonLink" href="https://maps.app.goo.gl/9PihkYQiKAmnVToz6">MAPS</a>
            </div>
        </div>
    </div>
</div>