<div class="layout">
    <div class="layoutElementHorizontal reverseColResponsive main">
        <div class="layoutElementVertical">
            <h2>Intro</h2>
            <iframe class="youtube" width="80%" height="auto" src="https://www.youtube.com/embed/caW4zVfb6Zw?si=xzQ-LURTWfo7Yv-K" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <a class="buttonLink" href="qXsLp">NEXT</a>
        </div>
    </div>
</div>