<div class="layout">
    <div class="layoutElementHorizontal reverseColResponsive main">
        <div class="layoutElementVertical">
            <h2>Merry Christmas</h2>
            <hr />
            <app-question-form [questionNum]="10" (fullyAnswered)="handleAnswersGiven($event)">
                While it may sound like a big thing of rocks,<br><br>
                It won't be as effective a weapon filled into socks.<br><br>
                If you want to get a peek at the box,<br><br>
                You will have to guess that it is full of _____
            </app-question-form>
            <div class="layoutElementVertical" style="margin-top: 10px;" *ngIf="passed">
                <img src="assets/blocks.jpg" alt="A Christmas gift">
            </div>
        </div>
    </div>
</div>
