<div class="layout">
    <div class="layoutElementHorizontal reverseColResponsive main">
        <div class="layoutElementVertical">
            <h2>Clue Three</h2>
            <hr />
            <app-question-form [questionNum]="3" (fullyAnswered)="handleAnswersGiven($event)">
                Now equipped with some wind in your sails,<br><br>
                its time to enjoy obsessing over details,<br><br>
                Your brain gets foggy when your body inhales,<br><br>
                What is this place, great to share tales?
            </app-question-form>
            <div class="layoutElementVertical" style="margin-top: 10px;" *ngIf="passed">
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1458.556978605277!2d-87.84935683637198!3d41.18708105508143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880de0a922b73535%3A0x75ccfadd470b0947!2sLa%20Vida%20Nails%20%26%20Spa!5e0!3m2!1sen!2sus!4v1702288646566!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p>Next Clue at 10:00am</p>
                <a class="buttonLink" href="https://maps.app.goo.gl/t2D4uTSpw27BQRyw7" target="_blank" rel="noopener noreferrer">MAPS</a>
            </div>
        </div>
    </div>
</div>
