<div class="layout">
    <div class="layoutElementHorizontal reverseColResponsive main">
        <div class="layoutElementVertical">
            <h2>Clue Four</h2>
            <hr />
            <app-question-form [questionNum]="4" (fullyAnswered)="handleAnswersGiven($event)">
                The next location is a great place for therapy retail,<br><br>
                A spot that brings serotonin without fail,<br><br>
                Round out your fashion with what they have on sale,<br><br>
                Because when you leave you'll look like you're from a fairytale.
            </app-question-form>
            <div class="layoutElementVertical" style="margin-top: 10px;" *ngIf="passed">
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d289.4160583899606!2d-87.84839401137464!3d41.18670723547037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880de0a9237a3db1%3A0x7dd00167d008720c!2sMaurices!5e0!3m2!1sen!2sus!4v1702288897730!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p>Next Clue at 10:00am</p>
                <a class="buttonLink" href="https://maps.app.goo.gl/CiFaYNHWqAbmf65U6" target="_blank" rel="noopener noreferrer">MAPS</a>
            </div>
        </div>
    </div>
</div>