<div class="layout">
    <div class="layoutElementHorizontal reverseColResponsive main">
        <div class="layoutElementVertical">
            <h2>Clue Seven</h2>
            <hr />
            <!-- <app-question-form [questionNum]="7" (fullyAnswered)="handleAnswersGiven($event)">
                While I may not be a big fan of these,<br><br>
                I appreciate how they make you feel at ease,<br><br>
                They are thought of by some to ward of disease,<br><br>
                What are these things, preferred rocks of fairies?
            </app-question-form> -->
            <app-question-form [questionNum]="7" (fullyAnswered)="handleAnswersGiven($event)">
                With adjustments not being made live,<br><br>
                Aren't these rhymes the most jive?<br><br>
                It is time for you to make yet another drive,<br><br>
                You've spent your whole life  here trying to survive,<br><br>
                What is this place to which you will arrive?
            </app-question-form>
            <div class="layoutElementVertical" style="margin-top: 10px;" *ngIf="passed">
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1155.3603331649629!2d-87.72867111659133!3d41.316832715579764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1702235130172!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p>Next Clue at 4:15</p>
                <a class="buttonLink" href="https://maps.app.goo.gl/Rq2PzB5pXejFMwmT9" target="_blank" rel="noopener noreferrer">MAPS</a>
            </div>
        </div>
    </div>
</div>
